# Environment variables
.env

# Workspace directory
workspace/

# home directory
home/

# SSH keys and configs (in case they get copied)
.ssh/
*.pem
*.key
id_*
known_hosts

# Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
